<div class="parent">

  <section class="sections" id="section1">
    <div class="sec">
      <mat-card class="card" id="c1">
        <mat-card-title>
          <span class="headline">Gratitude</span>
        </mat-card-title>
        <mat-card-content>
      <span class="content">Gratitude is your personal journal where you can write about things that you are grateful for. This helps to focus your attention on the positive things in your life.
</span>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="sections" id="section2">
    <div class="sec">
      <mat-card class="card" id="c2">
        <mat-card-title>
          <span class="headline">Say thanks, be grateful</span>
        </mat-card-title>
        <mat-card-content>
      <span class="content">Gratitude is your personal journal where you can write about things that you are grateful for. This helps to focus your attention on the positive things in your life.
</span>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="sections" id="section3">
    <div class="sec">
      <mat-card class="card" id="c3">
        <mat-card-title>
          <span class="headline">Say thanks, be grateful</span>
        </mat-card-title>
        <mat-card-content>
      <span class="content">Gratitude is your personal journal where you can write about things that you are grateful for. This helps to focus your attention on the positive things in your life.
</span>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="sections" id="sectionx">
    <div class="sec">
      <mat-card class="card" id="cx">
        <mat-card-title>
          <span class="md-headline">Like What You See?</span>
        </mat-card-title>
        <mat-card-subtitle>
          We'll add you to our early access group and send you the playstore link to install the app!
        </mat-card-subtitle>
        <form class="signup-form">
          <mat-form-field id="email">
            <input matInput  [(ngModel)]="email" name="email" type="email" placeholder="Your mail-id..">
          </mat-form-field>
          <button id="sbutton" (click)="querySubmit($event)" mat-raised-button>Get the Beta</button>
        </form>
      </mat-card>
    </div>
  </section>
</div>

